* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 200px;
}

.data-summary {
  min-height: 200px;
}

.custom-box-shadow {
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.chart {
  margin-bottom: 0 !important;
}

.twitter-image {
  border-radius: 50%;
}

.twitter-img-container {
  width: 10%;
}

.twitter-info-container {
  width: 90%;
  padding-left: 1rem;
}

/* Override Bootstrap default for reddit/news dropdown */
.form-select {
  width: 125px !important;
}

.news-image {
  height: 266px;
}

.sentiment-dropdown {
  width: 120px;
}

.limit-dropdown {
  width: 80px;
}

.particles-container {
  position: relative;
}

.particles-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.jumbotron-contents {
  z-index: 100;
}

p {
  margin-bottom: 0 !important;
}
